.stuffcontainer {
    display: flex;
    justify-content: space-around;
}
#canvas {
    width: 600px;
    height: 600px;
    background-color: rgb(7, 41, 154);
    position: relative;
    
}
#sidepanel{
    background-color: deepskyblue;
    height: 600px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#triangle {
    border-bottom: 100px solid yellow;
    border-right: 100px solid transparent;
    position: absolute;
}

#circle {
    background: darkviolet;
    border-radius: 50%;
    position: absolute;
}
#rectangle {
    background: green;
    position: absolute;
}

#square {
    background: red;
    position: absolute;
}